.div-main {
  padding-left: 50px;
  height: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(40deg, rgba(255,255,255,1) 0%, rgba(116,116,116,1) 74%, rgba(0,0,0,1) 100%);
  padding-top: 70px;
}


.flexbox-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flexbox-item {
  width: 200px;
}

.flexbox-item-1 {
  width: 120vh;
  min-height: 100px;
  padding-left: 400px;
}
