html, body, #root {
    width: 100%;
    height: 100%;
  }
  
.Perfil {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
}
  
.Perfil-left {
    float: left;
    width: 35%;
    height: 100%;
}

.Perfil-center {
    float: left;
    width: 35%;
    height: 100%;
}

.Perfil-right {
    width:30%;
    padding: 0px 50px 0px 0px;
}

.floated {
    float:left;
    margin-right:25px;
 }
 